<table class="table-no-bordered" *ngIf="yeucau" style="margin-left: 250px;">
  <h3>Sửa Yêu Cầu</h3>
  <tr>
    <td><label>Ca</label></td>
    <td><input type="text" class="form-control" [(ngModel)]="yeucau.ca" placeholder="ca"></td>
  </tr>
  <tr>
    <td><label>Ngày</label></td>
    <td><input type="text" class="form-control" [(ngModel)]="yeucau.ngay" placeholder="ngày"></td>
  </tr>
  <tr>
    <td><label>Giờ</label></td>
    <td><input type="text" class="form-control" [(ngModel)]="yeucau.gio" placeholder="giờ"></td>
  </tr>
  <tr>
    <td><label>Bộ Phận</label></td>
    <td><input type="text" class="form-control" [(ngModel)]="yeucau.bophan" placeholder="bộ phận"></td>
  </tr>
  <tr>
    <td><label>Tên Sản Phẩm</label></td>
    <td><input type="text" class="form-control" [(ngModel)]="yeucau.masanpham" placeholder="tên sản phẩm"></td>
  </tr>
  <tr>
    <td><label>Phân Loại</label></td>
    <td><input type="text" class="form-control" [(ngModel)]="yeucau.phanloai" placeholder="phân loại"></td>
  </tr>
  <tr>
    <td><label>Loại Phim</label></td>
    <td><input type="text" class="form-control" [(ngModel)]="yeucau.loaiphim" placeholder="loại phim"></td>
  </tr>
  <tr>
    <td><label>Máy Dùng</label></td>
    <td><input type="text" class="form-control" [(ngModel)]="yeucau.maydung" placeholder="máy dùng"></td>
  </tr>
  <tr>
    <td><label>Tỷ Lệ</label></td>
    <td><input style="width:90px" type="text" class="form-control" [(ngModel)]="yeucau.tylex" placeholder="tỷ lệ x"></td>
    <td><input style="width:90px; margin-left:-93px" type="text" class="form-control" [(ngModel)]="yeucau.tyley"
        placeholder="tỷ lệ y"></td>
  </tr>
  <tr>
    <td><label>Người Yêu Cầu</label></td>
    <td><input type="text" class="form-control" [(ngModel)]="yeucau.nguoiyeucau" placeholder="người yêu cầu"></td>
  </tr>
  <tr>
    <td><label>Nội Dung Yêu Cầu</label></td>
    <td><input type="text" class="form-control" [(ngModel)]="yeucau.noidungyeucau" placeholder="nội dung"></td>
  </tr>
  <tr>
    <td></td>
    <td> <button type="button" class="btn btn-primary" (click)="Save()">Submit</button></td>
  </tr>
</table>