html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, font, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    font-weight: inherit;
    font-style: inherit;
    font-size: 100%;
    font-family: inherit;
    vertical-align: baseline;
}

html, body {
    height: 100%;
    overflow: auto;
}

body.customModal {
    background: #fff;
    color: #314659;
    font: 14px/22px 'Open Sans', Arial, sans-serif;
    text-align: justify;
}

.container {
    width: 600px;
    margin: 0 auto;
    padding: 45px 0 0;
}

h1 {
    color: #0d1a26;
    font-size: 30px;
    line-height: 38px;
    font-family: Lato;    
    margin-bottom: 20px;
    margin-top: 8px;    
    font-weight: 500;
    clear: both;
}

h2 {
    color: #0d1a26;
    font-size: 24px;
    line-height: 32px;
    margin-bottom: 20px;
    margin-top: 25px;
    font-weight: 500;
    clear: both;    
}

pre, code, xmp {
    font-family: "Consolas", "Andale Mono WT", "Andale Mono", "Lucida Console", "Lucida Sans Typewriter", "DejaVu Sans Mono", "Bitstream Vera Sans Mono", "Liberation Mono", "Nimbus Mono L", Monaco, "Courier New", Courier, monospace;
    font-size: 12px;
    line-height: 18px;
    border: 1px solid #CCC;
    padding: 5px;
    margin: 10px 0;
    overflow: hidden;
    background: #F8F8F8;
    color: #333;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
    empty-cells: show;
    border: 1px solid #ebedf0;
    width: 100%;
    margin: 8px 0 16px;
    font-size: 14px;
    line-height: 1.5;
}

table th {
    white-space: nowrap;
    color: #5c6b77;
    font-weight: 500;
    background: rgba(0, 0, 0, 0.02);
}

table th, table td {
    border: 1px solid #ebedf0;
    padding: 16px 24px;
    text-align: left;
}

.button {
    display: block;
    background: #ED5E2F;
    color: #FFF;
    text-decoration: none;
    width: 190px;
    text-align: center;
    padding: 10px;
    margin: 15px 0 0 15px;
    font-size: 18px;
    text-transform: uppercase;
    font-weight: 300;
}

.left-container, .right-container {
    box-sizing: border-box;
    width: 50%;
    float: left;
    padding: 5px;
}

.example-box {
    border: 1px solid #ebedf0;
    border-radius: 2px;
    display: inline-block;
    width: 100%;
    position: relative;
    margin: 0 0 16px;
}
.example-demo {
    border-bottom: 1px solid #ebedf0;
    padding: 42px 24px 50px;
    color: rgba(0, 0, 0, 0.65);
}
.example-meta {
    position: relative;
    padding: 18px 20px;
    border-radius: 0 0 2px 2px;
    width: 100%;
    font-size: 14px;
}
.example-title {
    position: absolute;
    top: -14px;
    padding: 1px 8px;
    margin-left: -8px;
    color: #777;
    border-radius: 2px 2px 0 0;
    background: #fff;
}

.example-desc {
    width: 250px;
}